@model Model.EF.CongVanDen

@{
    ViewBag.Title = "ChuyenTiep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js',
        });
    </script>
    <script src="/Assets/Admin/js/controller/email.js"></script>
    <script src="/Assets/Admin/jquery-ui.js"></script>
    <script src="/Assets/Admin/js/controller/AutoComplete.js"></script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>CongVanDen</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.TenCongVan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenCongVan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenCongVan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
             <div id="imagesManage" class="" role="dialog">
        <div class="">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chuyển Tiếp Email</h4>
                   @* <button type="button" class="close" data-dismiss="modal">&times;</button>*@
                </div>

                <div class="modal-body">
                    <div id="imageList">
                    </div>
                    <div class="clear"></div>
                    
                        <input type="text" id="doc" class="form-control" name="email" value="" placeholder="Nhập Email Cần Gửi" />
                        <input type="submit" id="btnChooImages" class="btn btn-primary" style="float:right;margin-top:10px;" value="Thêm Email" />
                    
                    <input type="hidden" id="hidProductID" value="@Model.ID" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"  id="btnSaveImages">Xác Nhận</button>
@*                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>*@
                </div>
            </div>

        </div>
    </div>
            @*<button href="#" data-id="@Model.ID" class="form-control btn-images">Chọn  Chuyển Tiếp Email</button>*@
        </div>
    </div>

   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="chyentiep" type="submit" value="Chyển Tiếp" class="btn btn-success" />
        </div>
    </div>
</div>
}


<!--<div id="imagesManage" class="modal fade" role="dialog">
    <div class="modal-dialog">-->
        <!-- Modal content-->
        <!--<div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chuyển Tiếp Email</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div id="imageList">
                </div>
                <div class="clear"></div>
                <input type="text" id="doc" class="form-control" value="" placeholder="Nhập Email Cần Gửi" />
                <input type="submit" id="btnChooImages" class="btn btn-primary" value="Thêm Email" />
                <input type="hidden" id="hidProductID" value="0" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveImages">Xác Nhận</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
            </div>
        </div>

    </div>
</div>-->


