@model Model.EF.CongVanDen

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}


@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js',
        });
    </script>

    <script src="~/Assets/Admin/js/controller/clearFile.js"></script>
}


@using (Html.BeginForm("Edit","CongVan",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Sửa Công Văn Đến</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)


    <div class="form-group">
        @Html.LabelFor(model => model.TenCongVan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.TenCongVan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenCongVan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
        </div>
    </div>
@*    <div class="form-group">
        <ul>
            @foreach (var item in file)
            {
                <li style="list-style:none"><i class="far fa-file-alt"></i> <a href="@item.PathID.Substring(37)" target="_blank">@item.PathID.Substring(43)</a></li>
            }
        </ul>
    </div>*@
    <div class="form-group">
        <ul>
            @if (Model.FilePath == null)
            {

            }
            else
            {
                string[] tags = Model.FilePath.Substring(1).Split(',');
                foreach (var item in tags)
                {
                    <li style="list-style:none"><i class="far fa-file-alt"></i> <a href="@item.Substring(37)" target="_blank">@item.Substring(43)</a></li>
                }
            }
        </ul>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBox("file", "", new { @type = "file", @multiple = "" }) <br />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập Nhật" class="btn btn-success" />
    <a href="#" class="btn-active btn btn-primary" data-id="@Model.ID">Xóa Tất Cả File</a>
        </div>
    </div>
</div>
}

