@model Model.EF.CongVanDi
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var xuly = ViewBag.xuly;
    

}
<h2><span>Tên Công Văn:</span>@Model.TenCongVan</h2>
<div class="content">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nội Dung</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.Raw(Model.NoiDung)</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div>
    <ul>
            @if (Model.FilePath == null || Model.FilePath=="")
            {

            }
            else
            {
                string[] tags = Model.FilePath.Substring(1).Split(',');
                foreach (var item in tags)
                {
                    <li style="list-style:none"><i class="far fa-file-alt"></i> <a href="@item.Substring(37)" target="_blank">@item.Substring(43)</a></li>
                }
            }
    </ul>
</div>
<hr />
<div>Tổng Số Email Gửi :@ViewBag.Count</div>
<hr />
<div>Danh Sách Email: </div>
<div class="bg-white">
    @foreach (var item in xuly)
    {
        <ol>
            <li>@item</li>
        </ol>
    }

</div>
<hr />
<div>Người Gửi: <span>@Model.SendedBy</span></div>
<hr />
<div>Ngày Gửi: <span>@Model.SendedDate</span></div>
